[2017-07-07 16:49] tjprescott opened #7 "Missing telemetry or at least extensibility hooks to inject telemetry"
Azure CLI core contains telemetry that could theoretically be part of this repo. As it stands, the CLI has telemetry code build into various methods which means I can't convert those parts to this package without throwing away that customization.

[2017-07-07 18:33] tjprescott opened #8 "Documentation deficiencies"
Most public facing methods and constructors lack docstrings that explains what the various kwargs do. This makes it very hard to use anything other than those described in the examples, which are very simple.

[2017-07-07 22:09] tjprescott opened #9 "Migration process and pain points"
I am working on converting just the Redis commands to use Knack.  The process, as best I can tell, is something like this:

1. wrap the contents of `commands.py` in a method `load_command_table`. Import this method in the CommandsLoader class in the `__init__.py` file.
2. wrap the contents of `params.py` in a method `load_arguments`. Import this method in the CommandsLoader class in the `__init__.

[2017-07-07 22:47] tjprescott opened #10 "Eliminate redundant ways of doing the same thing"
Currently, knack allows you to register commands with either of these options:

[code]

Argument registration likewise exposes two syntactically very different ways of doing the same thing. Neither method is clearly better--they are both just different.  However, this has resulted in confusion for external partners as to what the difference is and what they should use.  While it doesn't take hours

[2017-07-10 23:10] tjprescott opened #11 "Arguments _NAMED_ARGUMENTS cannot be changed"
This variable, set in CLICommandArgument, is a tuple. As such, I cannot subclass CLICommandArgument and change the value. I need to add 'id_part' to the list, but due to the immutable nature of Python tuples, I cannot do this. If this were changed to a simple list, there wouldn't be an issue.

[2017-07-11 20:30] tjprescott commented on #11
Currently this has me blocked. I would need to find a different way to implement `--ids` in the CLI.

[2017-07-11 20:34] tjprescott opened #12 "CLICommandsLoader should accept a "command_cls" argument"
The `create_command` method inside `CLICommandsLoader` is what actually does the job of created `CLICommand` objects.  The problem is, if I subclass CLICommand (which I have to do to reintroduce support for configured defaults) then I also have to subclass CLICommandsLoader and override the `create_command` implementation with one that is 99.99% identical and differs only by a single line.

Instea

[2017-07-11 23:00] tjprescott commented on #11
Additionally I'm running into similar issues with `configured_default`. It fails at:
https://github.com/Microsoft/knack/blob/master/knack/parser.py#L74
Essentially it is trying to create an argparse argument with unrecognized kwargs.

It is very, VERY likely that someone would want to support kwargs above and beyond the ones argparse does (obviously, as that's what we're doing!).  We should have a

[2017-07-11 23:43] tjprescott commented on #11
Here's the workaround I used in az, which should really be in knack:

[code]

Unfortunately, I had to just copy-paste the list of supported kwargs from argsparse since it didn't expose them as a property or method.  Still, this is CLI neutral and more reliable that having to remember to pop non-compliant kwargs.

[2017-07-12 23:26] tjprescott opened #13 "__init__ methods should type-check context"
As I do the conversion work, I ran into a situation where there are two commands, one which has a context of type CLI and another CLICommandsLoader.  Since I don't know what context it is truly intended to have, I don't know which is correct and which is wrong.

Especially given that "context" is such a nebulous term, this type check should really be in place to ensure the framework is used correc

[2017-07-12 23:33] tjprescott commented on #13
Additionally (or maybe alternatively?) it might make sense to rename "ctx" to something that described what the context is supposed to be (i.e. cli, loader, etc.).  I would still recommend the type checking though.

[2017-07-14 20:25] tjprescott opened #14 "Shouldn't have to subclass CLIHelp to customize privacy_statement and welcome_message"
As shown in the example (and what I actually had to do) to customize these messages you have to create a help class that inherits from CLIHelp and sets these parameters. It seems I should be able to pass these into CLI init, which would not require me to create this derived class.

[2017-07-14 21:21] derekbekoe commented on #14
I can certainly see a use case for that but then what do you include in __init__ and what do you leave out? I didn't want the main CLI __init__ to be a long list of every thing that can be configured.

[2017-07-14 21:41] tjprescott commented on #14
An alternative would be to pass in a CLIHelp object instead of a CLI help class.  Thus you'd configure the help object by instantiating it with the right messages, and then pass that into the CLI object.

[2017-07-14 22:33] tjprescott opened #15 "Should be able to pass Custom CommandInvoker class to CLI"

[2017-07-14 22:36] tjprescott commented on #15
If you run any commands that return a list, you'll get
[code]

You have to subclass CommandInvoker and largely clone this logic in order to make it work with lists. It would be better to have some kind of hook method that could be passed in or at least overwritten in the subclass in order to provide this handling without having to duplicate the core logic.

[2017-07-17 17:34] tjprescott opened #16 "Need way to pass a CLI context into a command"
In order to access a CLI instance's config file without stuffing that CLI into a global symbol that can be imported, Knack needs a way of passing the CLI context into a command invocation.  Currently, to covert the `az configure` command, I am using the following incredibly hacky workaround:

[code]

This is clearly not using the client factory kwarg for its intended purpose.  I recommend we eithe

[2017-07-17 22:38] tjprescott commented on #15
Actually, you can't even subclass the Invoker.  I had to monkey patch over it.

[2017-07-17 22:55] tjprescott commented on #16
This is a major inhibitor, as many commands need to access the current profile, which requires access to the config and therefore the CLI context.

[2017-07-18 20:44] tjprescott commented on #16
Actually, I found a way that implements 2.  I just register a global alias for the parameter name "cli_ctx" that is of type "ignore_type" but has a default value of the CLI context.  This works perfectly.

[2017-07-18 20:44] #16 closed

[2017-07-19 22:48] tjprescott commented on #15
Additionally, the Knack invoker has no support for validators, so I need to monkey patch the CommandInvoker.execute method to reintroduce this functionality.

[2017-07-19 23:16] tjprescott opened #17 "Knack doesn't support validators"
This is a crucial feature that Azure CLI relies upon, is bizarrely not supported by argparse, and really should be part of Knack.  We should include it.  Currently I have to monkey patch CommandInvoker.execute to reintroduce this functionality.

...

However, while adding this feature to Knack, please, please, P-L-E-A-S-E including both of the following:

1. Argument level validators (the kind cur

[2017-07-20 20:11] tjprescott opened #18 "_command_handler needs to be extensible"
In CLI 2.0 we expose the no_wait parameter in the _command_handler method of the create_command method in CLICommandsLoader.  This method is not customizable, so I had to copy and modify the entire implementation from the base class.

[2017-07-20 21:39] tjprescott opened #19 "Should be able to get verbosity level from CLILogging"
`determine_verbose_level` requires args and as it is only called as part of configure, it should be an internal level method. However, whatever value is determined in configure should be saved as a property so I can access it simply using `ctx.logging.verbose_level` or something similar. Now I'm trying to jump through hoops to get this piece of information that should be readily available.

[2017-07-20 23:01] derekbekoe commented on #19
It's supposed to deter logic that is based on the current logging level.
Writing code that's based on the log level could behave in unexpected ways.

For example, when file logging is enabled, there are two log levels, one for console and a different one for file logging.

We can still expose it from knack though.

[2017-07-20 23:26] tjprescott commented on #19
Progress info in the CLI for deployments is only supposed to show when --verbose (or higher presumably) is shown. Since the code does actually make this determination internally, it would be nice to preserve this.  Or we could make a better way of deciding when to show progress in the Az, but I'm going for a translation right now. :)

[2017-08-04 19:21] tjprescott opened #20 "Should be able to access the command loader and similar objects."
Currently there is only a property on the CLI object for "command_loader_cls".  This makes it very difficult to access methods that require a command loader (for example, registering commands!).

[2017-08-04 19:25] tjprescott commented on #9
Relative impacts:
1. Moderate. Requires that any changes made to a command's `command.py` fille be copied over to the new class.
2. Minimal.
3. Minimal.
4. Moderate. Requires that any changes made to a command's `params.py` file be copied over to the new class.
5. Minimal
6. Moderate. Starts getting into "Rebase Hell" territory.
7. Major.

[2017-08-10 21:30] tjprescott commented on #10
Also, note that CLI 2.0 already subclasses CLICommandsLoader, so even if we wanted to preserve the "old ways" we can do that there. There's no need to enshrine that in Knack (on the contrary, there's great reasons NOT to!)

[2017-08-18 23:00] derekbekoe commented on #19
There are a few things I can do but want to clarify:

**(1) If you want to do exactly as in the CLI currently, this is currently possible without changing anything in knack**
[code]
This is what we do in the CLI right now [here](https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/azure/cli/core/commands/__init__.py#L215).
This will return `is_verbose==True` if `--verbose`/`--debug` a

[2017-08-18 23:01] derekbekoe commented on #19
I can still make `determine_verbose_level` private though.

[2017-08-18 23:10] #17 closed

[2017-08-18 23:30] derekbekoe commented on #18
It's tricky finding a balance between making everything extensible and suggesting to subclass. In this case, I'd subclasses would be required anyway so you could subclass and provide your own implementation of `create_command` and then `_command_handler`.

In Azure CLI case, even if `_command_handler` was extensible, you'd still have to override `create_command` for [this](https://github.com/Azure

[2017-08-18 23:41] derekbekoe commented on #14
The constructor for `CLIHelp` requires `ctx` which you wouldn't have before the CLI object has been created (as that is the `ctx`).

I could create some `CLIHelpConfiguration` class that you can pass like this:
[code]

But then if someone does `CLI(help_config=my_help_config, help_cls=my_help_class)` the result could be ambiguous as your help class can have it's own configuration.

I see the class

[2017-08-18 23:48] derekbekoe commented on #13
`ctx` should be the `CLI()` object you create in your CLI.
But really the aim here is to use the duck-typing convention in Python - ["If it walks like a duck and it quacks like a duck, then it must be a duck."](https://en.wikipedia.org/wiki/Duck_typing).

Have code like this goes against duck-typing.
[code]

[2017-08-18 23:53] derekbekoe commented on #9
I've removed the milestone as I don't see anything actionable here but will continue to monitor this issue...
Some of the pain points are due to Knack not having a global application object that can just be imported directory like was the case in Azure CLI.

[2017-08-19 00:04] derekbekoe commented on #20
It's available through `ctx.invocation.commands_loader`.
The commands loader is created *per invocation*.
Therefore, it's on the invocation object that gets created when `CLI.invoke` is called.

- https://github.com/Microsoft/knack/blob/master/knack/cli.py#L120
- https://github.com/Microsoft/knack/blob/master/knack/invocation.py#L34

[2017-08-19 00:04] derekbekoe commented on #20
Closing as I think this answers the query.

[2017-08-19 00:04] #20 closed

[2017-08-19 00:16] derekbekoe commented on #15
You can pass in your own Command Invoker [here](https://github.com/Microsoft/knack/blob/master/knack/cli.py#L35). With this, you shouldn't have to clone a lot of the code.

Also, support for validators was added in https://github.com/Microsoft/knack/pull/21.

Closing but let me know if there is still are large block of code you have to clone just for a small change.

[2017-08-19 00:16] #15 closed

[2017-08-21 15:59] tjprescott commented on #14
I get that 100%.  But if you think about it "welcome message" and "privacy statement" can very naturally be thought of as properties of the CLI (even though they are modeled as properties of the help system).  In this case, I would argue in favor of making them optional kwargs.

The most complex case (us) requires creating a subclass only to set these two strings.  The least complex case (anyone e

[2017-08-21 16:45] tjprescott commented on #13
There are a couple issues with this:

1) "context" is a vague term and in no way self-documenting. In Android, context may refer to Activities, Services, Applications, etc. but in knack it always refers to a CLI object. Thus, I would argue it should be called "cli" (in fact, in all of our code I call it "cli_ctx" for clarity). Sometimes vague terms are needed. Parent is inherently vague (although

[2017-08-21 16:49] tjprescott commented on #9
Very true. This need not be tied to any milestone. I am making some simplifications in the CLI that will likely be worth porting over into knack.

[2017-08-24 16:35] #12 closed

[2017-08-24 18:23] derekbekoe commented on #14
This is intended as then there's *one* way to do it.

The event could work but:
- Now you have 2 ways (either subclass or use event)
- You then have to register for the event right after you create the `CLI()` and before you call `cli.invoke()` as that's when the help object is created.
- It would look something like this...
[code]

[2017-08-24 18:33] derekbekoe commented on #13
@tjprescott I can see `ctx` being confusing.

So I can change the name to be `cli_ctx` for more clarity.
Is that enough or you'd like to see the type checking also?

[2017-08-24 18:34] derekbekoe commented on #13
... Or is type checking enough with the name still being `ctx`?
This would be less of a breaking change for anyone who currently uses knack.

[2017-08-24 18:38] tjprescott commented on #13
If you only did one, I would suggest the explicit type check because the message can be made more helpful. I think "cli_ctx" is pretty clear, but if you passed it something else you'd still get the vague error, so I think the explicit check is preferable (though in a perfect world--both!)

[2017-09-25 23:43] #19 closed

[2017-09-25 23:50] #9 closed

[2017-09-25 23:50] derekbekoe commented on #9
Closing issue but still comments welcome / new issues can be created.

[2017-09-26 16:39] #13 closed

[2017-09-27 17:12] #11 closed

[2017-09-27 17:24] #10 closed

[2017-09-27 21:19] tjprescott opened #29 "Introspection.py method "extract_args_from_signature" contains dead CLI 2.0 code"
https://github.com/Microsoft/knack/blob/master/knack/introspection.py#L71

This makes reference to the `no_wait_param` which is used by CLI 2.0 to expose `--no-wait` and is pretty CLI specific.  Regardless, all of this code is dead because there's no good way to pass anything into this method, so the default branch is always triggered.

My recommendation would be to remove this code.

[2017-09-27 21:24] tjprescott commented on #29
Within the CLI, I add this parameter back in "create_command".  It is added to the args after "extract_args_from_signature". I add both `--no-wait` and `--yes` here to keep things easier to maintain.

[2017-09-28 18:19] derekbekoe opened #30 "Support an interactive mode built-in"

[2017-09-28 19:50] samedder opened #31 "Improve error related strings"
Not sure where's the best place to put this, but we would like a better way to capture 400 and 500 error responses from lower libraries like `urrllib3`. Right now on 500 responses we see the following unhelpful message accompanied by a stack-trace:

It would be nice if there was some callback we could register to handle these errors more gracefully

[2017-09-29 21:20] #8 closed

[2017-09-29 21:43] tjprescott opened #35 "CLICommandsLoader Recommended Changes"
Based on ongoing conversion work in CLI 2.0, consider the below listed changes to CLICommandsLoader. The purpose of these would be to simplify the command authoring process, as the author need only focus on the public methods of the CommandLoader class.

- [ ] 1. Make "create_command" private. This should be reached by invoking "command" on a command group. This method is currently public and pres

[2017-10-13 20:25] derekbekoe opened #36 "Add support for datetime.date in util function"
See https://github.com/Azure/azure-cli/pull/4671

[2017-10-20 21:53] derekbekoe opened #37 "Conditionally add `enum34` dependency for Python 2.7"
[code]

[2017-10-20 22:01] derekbekoe opened #38 "Add missing imports to main README.md"
[code]

[2017-10-20 22:12] derekbekoe opened #39 "Support no group name for CommandGroup"
In https://github.com/Microsoft/knack/blob/master/knack/commands.py#L301

[code]

[2017-10-20 22:27] tjprescott opened #40 "Can't customize help sufficiently by subclassing CLIHelp"
To migrate CLI 2.0, I needed to be able to customize the help output logic. However, I found that subclassing CLIHelp did not allow me to do this--it basically only lets you customize the privacy statement and welcome message.  Instead I had to customize the CLIParser, override the format_help method (which I had to do anyways) and then implement my own version of `show_help`, a free-floating meth

[2017-10-20 22:33] derekbekoe opened #41 "ArgumentsContext register & register_alias are exactly the same"
Consider removing one of them.

[2017-10-23 17:18] tjprescott commented on #41
For that matter, both are essentially the same as "argument" which is the only one I use.  I'd consider removing both. Technically register_alias makes the option list a positional arg, so you don't have to type "option_list=" but it's kinda'   🤷‍♂️

[2017-11-14 22:58] #38 closed

[2017-11-14 23:05] derekbekoe commented on #41
This was fixed in https://github.com/Microsoft/knack/commit/af674bfea793ff42ae31a381a21478bae4b71d7f

[2017-11-14 23:05] #41 closed

[2017-11-14 23:06] #36 closed

[2017-11-14 23:20] derekbekoe commented on #7
Closing as until we have specific parts of the code where we want to raise events, there's nothing actionable here.
Also, I think without any changes, Azure CLI was able to hook in its own telemetry.

[2017-11-14 23:20] #7 closed

[2017-11-15 18:51] #39 closed

[2017-11-15 20:27] #37 closed

[2017-11-15 22:57] derekbekoe commented on #31
This should be achievable by overriding `CLI. exception_handler` (https://github.com/Microsoft/knack/blob/master/knack/cli.py#L158).

It gets called if there's an unknown exception - https://github.com/Microsoft/knack/blob/master/knack/cli.py#L205.

[2017-11-15 22:57] #31 closed

[2017-11-20 19:37] #40 closed

[2017-11-20 20:08] #29 closed

[2017-11-20 22:29] derekbekoe commented on #35
**Done:**
1. I've made `get_op_handler` and `user_confirmed` private. `create_command()` is a method I expect may be overridden so not marked that as private.
4. Removed "CommandSuperGroup" and removed `module_name` since it's not actually used.

**Not done / Open to discussion:**
2. Knack wouldn't use these `kwargs` so would rather leave that up to the caller to subclass the command loader if the

[2017-11-21 00:06] #35 closed

[2017-11-21 01:38] derekbekoe opened #53 "CLIHelp support command_help_file_cls"
Currently, you have to override show_help for this and that shouldn't be required.

[2017-11-21 23:20] tjprescott commented on #14
I think this can be closed as, give the other changes you've made in 0.3.0, there's a lot more flexibility in a Help subclass that this would make sense.

[2017-11-21 23:20] tjprescott opened #55 "table_transformer should accept a JMESPath string"
This CLI 2.0 feature should be upleveled to Knack.

[2017-11-21 23:22] #14 closed

[2017-11-22 00:31] tjprescott opened #56 "Table output does not honor OrderedDict"
There's a test failure in CLI 2.0 that is testing a table formatter (ComputeListSkusScenarioTest).  The formatter is a callable that produces a list of OrderedDicts.  However, the resulting table output is not in the same order that the values are added to the OrderedDict.

[2017-11-22 20:25] tjprescott commented on #7
Yes, but it did that by subclassing the hell out of things. :-P

[2017-11-29 20:59] derekbekoe opened #57 "ensure the config directory exists in CLIConfig constructor"
A follow up to https://github.com/Azure/azure-cli/issues/5001

[2017-12-13 19:46] tjprescott opened #59 "Change logic of validator execution"
Currently, if a command has a command validator, none of the argument validators that may exist are executed.

My feedback from applying this to the command validators in CLI 2.0 is that I would suggest the following change (pseudocode):

[code]

The current way, everything has to be sequenced in the command validator, if it where that validation is sequenced doesn't matter (in CLI 2.0 think tags)

[2017-12-14 23:17] derekbekoe opened #60 "In arguments.py TypeError: AttributeError does not take keyword arguments"
[code]

[2017-12-19 23:59] #60 closed

[2018-01-08 17:14] derekbekoe opened #67 "Do not include tests in the built package"

[2018-01-09 01:03] #67 closed

[2018-01-19 22:31] derekbekoe opened #70 "[arguments.py] ValueError does not take keyword arguments"
https://github.com/Microsoft/knack/blob/master/knack/arguments.py#L60

We should not call `ValueError` as a keyword argument.

Similar to https://github.com/Microsoft/knack/issues/60

[2018-01-30 18:38] tedchamb opened #71 "Error message color does not have enough contrast with default console backgrounds"
The vsts cli is built on knack and we have received several customer complaints that the color of red used does not provide enough contrast with the standard console backgrounds, and is therefore hard to read.  Is it possible to adjust the default error message color to a brighter red that provides more contrast?  It would also be good to provide a mechanism for the consuming application to choose

[2018-02-14 01:11] tjprescott opened #73 "Help system: improve error message when type specified is wrong"
If you create a help entry for type group that should be type command, you get a very ugly stack track and no indication of what went wrong. It would be better if we could catch that error and display a message that would help the author identify and correct the problem.

[2018-03-07 23:48] tjprescott opened #74 "ArgumentContext.ignore should mangle the options list for ignored arguments"
If I have:

[code]

I will get an error because, although arg1 would be ignored, argparse sees a name conflict between arg1 and arg2.  If the ignore method automatically changed the options_list to something else `--__ARG1` for instance, then it won't produce the conflict and avoids me having to do this:

[code]

[2018-03-08 19:42] W7PEA opened #75 "How does this compare to click ?"
There is already a Click CLI framework... how will this be better\different? Maybe MSFT can contribute to that project... https://github.com/pallets/click

I'm not involved in Click, I just use it and would rather see one thing made awesome than have two meh things. ;-)

[2018-03-16 01:40] #74 closed

[2018-04-02 22:22] Christina-Kang opened #77 "Retrieving help text in Python"
Is there currently a way to validate that all commands and arguments have documentation through as seen through `-h`? If not, are there suggested implementations for this validation and/or will this be potentially added in future releases?

Thanks!

[2018-04-09 23:11] Christina-Kang opened #78 "Text wrap width"
Just curious, is there any plan for bubbling up the width setting for TextWrapper in _print_indent, or otherwise making it customizable? Thanks :)

[2018-04-12 18:39] tjprescott commented on #53
Also, it needs to support `group_help_file_cls`. As I'm working on the deprecation stuff in CLI 2.0, I'm having to duplicate a lot of knack stuff to change hard-coded references to "GroupHelpFile"

[2018-04-12 22:07] Christina-Kang commented on #77
To add to this, exposing an API to easily retrieve the help text would also be quite useful. Thanks!

[2018-04-17 17:51] tjprescott opened #79 "Add test for docstring splitting"
This functionality was carried over from CLI 2.0 but not the test.  It ensures that the docstring
[code]

Gets parsed by the introspection methods into:
[code]

[2018-04-26 17:46] Christina-Kang opened #81 "Support for passing in JSON as text files"
Hello,

Is there currently any support for taking a file for JSON parameter inputs? If not, are there any plans for it?
It's quite a pain to escape quotes, etc, when passing in JSON inputs in command line :)

Thanks!

[2018-04-26 19:59] tjprescott commented on #81
You should be able to load those files like so:
`blah... --my-json-param @json_file.json`

[2018-04-26 19:59] tjprescott commented on #81
Prefix the filename with @

[2018-05-02 01:14] samedder commented on #81
@tjprescott is there a specific version that we should be using now? I think we were on `0.1.1` for our CLI, any issues if we upgrade to the latest?

[2018-05-02 15:39] tjprescott commented on #81
@samedder sorry, I thought this functionality was in Knack because it exists in the Azure CLI that Knack was based off of.  Currently this is not in Knack.

[2018-05-23 17:32] tjprescott commented on #78
No specific plans, but we could expose that.  You are referring to the number of spaces per indent, yes?  (current hard-coded value is 4)

[2018-05-31 18:36] williexu opened #85 "Help file parameter entries should be more lenient towards the allowed entry now."
Now, if you have the options, `--source` and `-s`, you need to enter the parameter as `--source -s`.
NOT: `--source` or `-s` or `-s --source`.

We might want to consider making this more lenient.

[2018-05-31 20:40] #53 closed

[2018-05-31 20:40] #79 closed

[2018-05-31 20:42] Christina-Kang commented on #77
Is there an estimated time that this might be completed? It would be super useful to have a way to get the help text through python :) An estimate will help me determine how much work around I will need to do in the meantime. Thanks!

[2018-05-31 20:54] tjprescott commented on #77
We are planning to do work on help over this summer, so this ask could fit pretty easily within the scope of that work.

[2018-05-31 22:38] Christina-Kang commented on #77
Awesome, thanks! :)

[2018-06-07 16:51] tedchambers commented on #30
@derekbekoe I have a User Story to add interactive mode to the VSTS CLI.  It would make sense for this capability to be in Knack as it is generic and not VSTS CLI specific.  Hopefully this is already in the works on your side, but if not you may see a pull request from me in the near future.

[2018-06-07 17:05] derekbekoe commented on #30
Adding @tjprescott and @williexu here for if there are any plans for this.

[2018-06-07 17:40] tjprescott commented on #30
@tedchamb we are not actively planning this feature for Knack at this time due to other priorities.

[2018-06-22 05:19] yugangw-msft opened #87 "testsdk folder: should be excluded from the pypi packaging"
To me, it is not used in production code, then we should not include it in the package.
I came into this when looked through the files in the CLI msi installer

[2018-09-04 22:57] tleonhardt opened #92 "docs link on PyPI doesn't work"
The docs link on your PyPI page doesn't work - it gives a 404 error.

[2018-09-07 05:35] techninja24 commented on #92
Same for examples link.

"..
More samples and snippets available at **examples**.

Documentation
Documentation is available at **docs**.
....."

[2018-09-10 17:11] dprothero commented on #75
I've been comparing the two frameworks and so far what I've come up with is the following:

1. _Neither_ frameworks are "meh" things. :-P
2. Click has been around longer and has much more robust documentation. Knack's docs need a lot of work.
3. Knack is a little easier to understand as it's more object-oriented and not attribute-based (IMHO).
4. Knack's main advantages over Click are its built-in

[2018-10-01 14:01] avirlrma commented on #70
@derekbekoe Hey! I like the issue, Can I start working on this?

[2018-10-01 17:03] derekbekoe commented on #70
@avirlrma Yes absolutely.
Adding @tjprescott as FYI also.

[2018-10-01 17:52] #70 closed

[2018-10-01 19:59] #92 closed

[2018-10-01 21:31] avirlrma commented on #73
@tjprescott Can I start working on this?

[2018-10-01 21:36] tjprescott commented on #73
@avirlrma absolutely.

[2018-10-02 05:58] mattjegan commented on #56
I'd like to give this issue a shot, I can probably look at getting a PR up in the next 12 hours or so.

[2018-10-02 07:58] mattjegan commented on #56
@tjprescott I was a little confused about what the desired behaviour is, I have altered a test to demonstrate what I believe you're asking for here (#100). If this is correct, I'll continue on a fix.

[2018-10-02 16:03] tjprescott commented on #56
The purpose of using OrderedDict for the table format is so that the table columns will appear in the same order. However, that test is showing this is not happening.

[2018-10-02 23:09] mattjegan commented on #56
Awesome, thanks, I'll take a look at fixing this later.

[2018-10-03 16:33] williexu commented on #85
@rubiagatra that's why we're open-source :)
@tjprescott to comment.

[2018-10-03 23:33] tjprescott commented on #85
Honestly I think it would also be sufficient to just match off of the long option (no short option required).

[2018-10-23 13:07] atbagga commented on #56
@tjprescott  I think it is following the order unless you override in your transformer (I think that is the case with transform_sku_for_table_output where the issue is reported) or if you do not have a transformer then the behavior is to sort the keys.

I see the three tests 1. test_out_table, 2. test_out_table_no_query_no_transformer_order, 3. test_out_table_no_query_yes_transformer_order display

[2018-10-25 23:45] tjprescott opened #110 "Knack 0.4.5 changes behavior with --debug"
In knack 0.4.4, using just the cli name would print the welcome message. Now, if the user provides `name --debug` or `name --verbose` then the welcome message will no longer be displayed. This was unintentional and the next release should revert the behavior.

[2018-10-26 02:08] danishprakash commented on #110
@tjprescott I'd like to work on this if nobody else is.

[2018-10-26 02:11] tjprescott commented on #110
@danishprakash that's fine. This is how I fixed the issue in the Azure CLI:
https://github.com/Azure/azure-cli/pull/7679/files#diff-34546b027e108d42bd46a0c08a1fe155R270

[2018-10-26 05:17] invinciblycool commented on #71
@derekbekoe I would like to take this up.

[2018-10-30 07:31] gauravsaralMs opened #114 "Chinese Characters returned from command are transformed to unicode"
Example:
===============================================

`import sys
from collections import OrderedDict

from knack import CLI, ArgumentsContext, CLICommandsLoader
from knack.commands import CommandGroup

def abc_str(length=3):
    thisdict =	{
        "brand": "Ford",
        "model": "生活很糟糕",
        "year": 1964
    }
    return thisdict

class MyCommandsLoader(CLICommandsLoader):
    def loa

[2018-10-30 09:55] gauravsaralMs commented on #114
#115
This PR resolves the issue mentioned above.
Please take a look

[2018-10-30 15:23] #114 closed

[2018-10-30 15:24] #73 closed

[2018-10-30 15:26] #78 closed

[2018-11-02 17:58] tjprescott commented on #59
Closing this issue as the proposed behavior has its own drawbacks.

[2018-11-02 17:58] #59 closed

[2018-11-09 23:11] tjprescott opened #126 "knack 0.5.1: global 'cmd' ignore breaks Azure CLI multi-loader implementation."
To accept knack 0.5.1, the CLI had to uplevel the implementation of CommandLoader's `load_arguments` method and remove the global ignore of `cmd`. This is done elsewhere in the CLI.

[2018-11-12 17:11] tjprescott opened #127 "Move azure.cli.core.commands.parameters.get_enum_type into Knack"
Transfer from: https://github.com/Azure/azure-cli/issues/7089

https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_params.py#L12

[2018-11-13 16:37] tjprescott opened #128 "Built-in support for multiple command loaders"
Knack supports only a single command loader which makes it tricky to use in scenarios like Azure CLI which has several modules. Knack should work in a consistent way for single or multiple command modules.

[2018-11-13 16:39] tjprescott opened #129 "Up-level command group and argument context helpers from CLI 2.0"
These features are used extensively in Azure CLI and are generic enough to be used in Knack-based projects.

[2018-11-13 17:21] tjprescott opened #130 "Allow validators to use `cmd` like CLI 2.0"
Often needed when a call inside a validator would require the `cli_ctx`

[2018-11-14 20:31] tjprescott opened #131 "Lift command suggestion feature from CLI 2.0."
CLI 2.0 has a feature where a mistyped command will offer suggestions of what you might have meant, which would be nice to have in Knack.

[2018-11-15 23:15] tjprescott commented on #56
@atbagga I believe you are right. When I create a table transformed using OrderedDict, I have no issues with the column ordering. Closing this.

[2018-11-15 23:15] #56 closed

[2018-11-16 21:11] tjprescott opened #132 "Fix logic for `extra` validation"
Current logic says:
[code]

However, this fails in cases where the context is targeting a command but it is not in the command table (this can happen in CLI 2.0 with multi-API support). The logic should instead say:

[code]

This ensures the scope is actually referring to an existing command group rather than assuming if it isn't in the table it must be a group.

[2018-11-16 22:29] tjprescott commented on #126
Turns out this wasn't the bug. Closing.

[2018-11-16 22:29] #126 closed

[2018-12-05 06:55] atbagga opened #134 "Support for more user friendly choice lists"

[2018-12-06 10:15] atbagga commented on #134
@derekbekoe @tjprescott Does this make sense for Knack or Azure cli?
Any thoughts on changing the default prompt-list function supported in Knack as of today?

[2019-01-13 14:28] anirban1c opened #135 "decorators to annotate functions as commmands"
something like

@Command
@Argument('--id', type=int, help='My name', desc='ID of some kind')
@Argument('--name', type=str, help='My name', desc='is my name')
createRecord(id, name):
`...

[2019-01-14 17:00] tjprescott commented on #135
Hi @anirban1c thank you for the suggestion. The Azure CLI was originally written using just such decorators, but we fould it didn't scale well and maintenance was extremely tedious. At least in Azure CLI, many commands had the common arguments with the common metadata, which mean I needed a dozen lines of extra decorator code per command, and if I wanted to update the help text for all the command

[2019-01-14 19:19] anirban1c commented on #135
am surprised decorators didnt scale ? partials, functools and decorators are legends ! thats what attracted me to python :)

[2019-02-06 22:02] dgarrett-microsoft opened #136 "Unsafe usage of PyYAML yaml.load() (Related to CVE-2017-18342)"
Default behavior of PyYAML's yaml.load() method is unsafe and can execute code in yaml files.
safe_load() should be used instead: https://github.com/yaml/pyyaml/issues/193#issuecomment-457387449

Related CVE-2017-18342: https://nvd.nist.gov/vuln/detail/CVE-2017-18342

[2019-02-11 05:09] StingyJack commented on #71
The library should honor the hosting console's (the user's preferences) display colors and not choose an arbitrary color.

This is an accessibility issue and should be given appropriate priority. It should really not be considered a feature request.

[2019-02-11 12:04] StingyJack commented on #71
I made this change to my local repo, but am not sure how to go about testing it where I want to see the change ultimately effected.
![image](https://user-images.githubusercontent.com/15381181/52561896-b2ec8700-2dca-11e9-95a8-26dc3d712b1e.png)

Is there a script that will make a locally usable knack that I can use in a local copy of azure-cli, that i can then build and run?  Or should I just pip in

[2019-02-11 15:14] tjprescott commented on #71
If you have cloned the repo, you should be able to go to the root of that repo and run `pip install -e <path to knack setup.py file> --ignore-installed`.

The other option would be to modify the code in you virtual environment's site-packages folder where you have the CLI installed.

[2019-02-11 22:04] #136 closed

[2019-02-11 22:16] derekbekoe commented on #136
@dgarrett-microsoft A fix was pushed to use `yaml.safe_load` - https://github.com/Microsoft/knack/releases/tag/v0.5.2

[2019-02-11 22:29] dgarrett-microsoft commented on #136
Thanks for the quick turnaround.

[2019-03-01 18:47] tjprescott opened #139 ""You can't specify both required and an options_list""
In Azure CLI I am trying to add an extra argument with required status. When I do this, I get:

  File "D:\GitRepos\github\env\lib\site-packages\knack\arguments.py", line 63, in __init__
    raise ValueError('You can\'t specify both required and an options_list')
ValueError: You can't specify both required and an options_list

That is, of course, nonsense. There are plenty of arguments with option

[2019-03-05 23:03] #139 closed

[2019-03-13 15:18] parkerduckworth commented on #81
Hi,

I developed a fix to this issue, and have added a test for this fix to the testing suite. All tests are passing.
I have the input JSON file being loaded into the parameter as a dict.  Is this the desired behavior?

Just wanted to make sure I'm accurately addressing the issue before submitting a PR.

[2019-03-14 15:00] tjprescott commented on #81
Hi @parkerduckworth the implementation for the @ feature is already in the Azure CLI and would basically be lifted from that. It would essentially allow you to use `--my-param @some_file` to load the contents of that file _as a string_.  If the developer wanted to transform or interpret that string (say, as a dict or JSON object) that would do that either in their command logic or in a validator.

[2019-03-26 17:26] tjprescott opened #143 "Lift configured_default behavior from CLI 2.0"
This behavior is generic and useful to other Knack-based projects.

[2019-03-29 18:31] tjprescott commented on #81
This has been implemented in #142. Thanks @parkerduckworth! It will be in the next knack release.

[2019-03-29 18:31] #81 closed

[2019-03-29 19:11] #143 closed

[2019-04-16 17:33] atbagga commented on #71
@StingyJack Here is the difference in the two colors (LIGHTRED_EX on top, RED at bottom) on windows command prompt. I also tried on powershell and the LIGHTRED_EX seems much better in contrast.

![image](https://user-images.githubusercontent.com/11888714/56230989-fbf6db00-609a-11e9-9b39-7898b98c8b9d.png)

[2019-04-17 16:36] tjprescott commented on #71
Fixed by PR #147.

[2019-04-17 16:36] #71 closed

[2019-05-22 22:10] #131 closed

[2019-05-23 15:43] tjprescott opened #156 "spellchecker should also work on enum values"
[code]

In Azure CLI this would say:
[code]

[2019-05-31 06:33] atbagga commented on #134
Would something like this make sense - This is a interactive selection list with support for paginated options listing.

![image](https://user-images.githubusercontent.com/11888714/58624232-641d1b80-82ed-11e9-8bc1-5692af8d78bf.gif)

Sample Code: https://github.com/atbagga/PythonSamples/blob/996a4f3a271195a1cb95f0da24da1ece9759cdaf/promptlist.py#L1

If yes, I can refine the experience and code to r

[2019-05-31 11:39] atbagga opened #157 "Handle input() function securely in Python 3"
https://stackoverflow.com/questions/31175820/simple-explanation-of-security-issues-related-to-input-vs-raw-input?noredirect=1&lq=1

[2019-05-31 13:17] Ronkiro commented on #157
This is questionable, Python 3 uses "input" the same way as "raw_input"

https://snyk.io/blog/python-2-vs-3-security-differences/

I think the best way to solve those problems, while giving compatibility to Python 2 and Python 3, is to do something to check the python version, if 2, uses raw_input, else uses input.

We can mantain it with a simple snippet like this one:
[code]

[2019-06-10 06:31] atbagga commented on #157
This issue is not applicable since imports the input function from six.moves which handles the python2 and python3 compat input function appropriately by using raw_input in python 2 and input function in python 3 which are secure.

Closing the issue as no action needs to be taken.

[2019-06-10 06:31] #157 closed

[2019-06-10 06:33] atbagga commented on #157
Refer documentation here - https://pythonhosted.org/six/

[2019-06-25 01:21] timstallmann opened #158 "Race condition in `ensure_dir`?"
I'm using Azure Cli with 20 threads and a `futures.ThreadPoolExecutor`. I'm finding that on CircleCI, my builds pretty reliably trigger a race condition in the knack `CLIConfig` constructor, which may have been inadvertantly introduced by #57.

Output looks as follows:
[code]

This seems like a fairly simple fix, and I'm down to work on a PR for it in the next day or two.

[2019-06-27 09:40] atbagga opened #160 "prompt_pass not working on windows when using CTRL+V to paste the password string to console"
**Issue:** [prompt_pass](https://github.com/microsoft/knack/blob/159055f7a307da032f62dc69ccae25b5cd7b7079/knack/prompting.py#L57) is not working on windows with CTRL+V being used to enter the input

**Repro:**
[code]
**Steps to repro:**
1. Copy a text to clipboard using CTRL+C e.g. "mypassword"
1. On CMD or powershell prompt `python getpass_fails.py`
1. On **Password:** prompt use CTRL+V to paste

[2019-06-27 09:45] atbagga commented on #160
This is heavily used in Azure CLI and its extensions. Azure-devops extension uses this function to accept Personal Access Token for login. Since it is an arbitrary long string people are used to using Ctrl+v for it.

Although the issue is in getpass library code.. Not sure where to follow up on it.
Confirmed by reproducing the above behavior using these code snippets:

[code]

@tjprescott

[2019-06-27 10:35] atbagga commented on #160
Also created an issue - https://bugs.python.org/issue37426 for this.

[2019-06-28 16:17] #158 closed

[2019-09-03 19:59] swells opened #162 "knack.util.ensure_dir can cause race conditions"
This checks if a directory exists and then calls mkdir to create it. During automation or scripting where parallelism can come into play this can cause a  race condition easily:

`knack.util.ensure_dir`

[code]

To prevent this race condition, use try/expect: to create the  directory, then ignore "File exists" errors, which mean the directory  was there.

[code]

Or for 3.2+

[code]

[2019-09-06 00:10] swells commented on #162
This looks to be a duplicate of [159](https://github.com/microsoft/knack/pull/159)

[2019-09-24 08:28] atbagga opened #163 "When marking an argument as deprecated it shows the python code name for the argument in the deprecated message"
![image](https://user-images.githubusercontent.com/11888714/65494845-3fb80100-ded3-11e9-922f-16e3080e0c02.png)

it should show --use-squash-merge instead of use_squash_merge.

[2019-09-24 08:57] atbagga opened #164 "Marking command for preview - the preview message should be in the new line and not continue in the long summary"
![image](https://user-images.githubusercontent.com/11888714/65497113-43e61d80-ded7-11e9-88e6-7ab01387459f.png)

[2019-09-24 10:11] #163 closed

[2019-09-24 10:12] atbagga commented on #163
it should be specified in the call as target='--use-squash-merge'

[2019-09-30 14:48] jurgyy opened #165 "Issue parsing arguments with escaped text"
While working on an azure CLI application I noticed some problems parsing (escaped) json and I've traced the problem back to Knack.

In short, with a nonspecific program based on Knack. The following launch params

    python .\testknack.py -b '\"a long string\"' --debug

Results in:

    Command arguments: ['-b', '{"a', 'long', 'string"}', '--debug']

As you can see, each word in the second argum

[2019-10-04 17:50] atbagga opened #166 "Preview message is written to StdErr which causes scripts using the preview message fail in pipelines"
![image](https://user-images.githubusercontent.com/11888714/66228603-770d8580-e6fd-11e9-82ce-0db56489083c.png)

Reported on Azure-Devops extension - https://github.com/Azure/azure-devops-cli-extension/issues/811

[2019-10-04 17:51] atbagga commented on #166
@yugangw-msft Can you please ask someone to take a look.

[2019-10-08 04:29] jiasli commented on #166
Writing to std.err is a very common behavior across many CLI tools.

The CI should not rely on the contents in std.err. The CI should check the exit code instead: https://github.com/Azure/azure-cli#exit-codes

[2019-10-09 14:47] JonnyWaffles commented on #128
Hi all, is this project still being maintained? The above feature makes a lot of sense. Is knack still intended to be the framework Azure CLI development?

[2019-10-10 10:18] sebastianrogers commented on #166
Whether it is common does not make it correct.

A warning is not an error it is information.

The decision on how the pipeline should handle warnings, as distinct from errors, has now been removed.

Azure pipelines, Microsoft's public CLI tool treats any output on STDERR as an Error.

Can you amend the tool to write Warnings, information and debug out to an appropriate stream so that when a develo

[2019-10-10 10:26] pmatthews05 commented on #166
I have had the same issue with warnings in pipelines. Latest one I've had a problem with was with the Storage account, that the name is going to change from StorageV2 to Storage

`az : WARNING: The default kind for created storage account will change to 'StorageV2' from 'Storage' in future`

It doesn't matter if you set the name to Storage or StorageV2, this warning comes up every time and breaks

[2019-10-11 02:58] MyronFanQiu commented on #128
@jiasli for comment.

[2019-10-14 06:13] atbagga commented on #166
@jiasli How about having a suppress warning (--suppress-warning) flag in the command? This can be a global parameter and framework should handle not putting warnings in case the flag is specified.

This way users will know when they are taking dependency on a preview command and can explicitly suppress warnings in the scripts if they do not want the noise in the output.

@sebastianrogers @pmatthew

[2019-10-14 12:04] sebastianrogers commented on #166
I don't like this option as it is negating a negation.  It would be best if only errors were output to the error output.

We are looking at a wrapper function in PowerShell to handle it at the moment, typing this from memory so may have the odd typo.

function Invoke-AzCommand() {
param(
  # The command to execute
  [string]
  $Command
)

$LastErrorActionPreference = $ErrorActionPreference
$ErrorA

[2019-10-15 08:04] jiasli commented on #166
`stderr` is never designed only for errors. Please see https://unix.stackexchange.com/questions/331611/do-progress-reports-logging-information-belong-on-stderr-or-stdout

Please find the solution at https://github.com/Azure/azure-devops-cli-extension/issues/811#issuecomment-538901591

[2019-10-15 08:09] jiasli commented on #128
Hi @tjprescott, is this causing any problem right now? Could you provide more info?

[2019-10-15 09:36] sebastianrogers commented on #166
Been doing some reading and https://www.gnu.org/software/libc/manual/html_node/Standard-Streams.html seems to be the definitive link.

The standard error stream, which is used for error messages and diagnostics issued by the program.

So it looks like it depends on if you catagorise a warning as a diagnostic, which grammatically I would not, but it does imply that similarly if a verbose or debug o

[2019-10-15 15:35] tjprescott commented on #128
Knack itself only accept a single command loader. Azure CLI works around this by creating a command loader that loads a bunch of other command loaders (and extension loaders). The ability to load one or more command loaders would make sense to be in Knack itself. This would allow other CLIs that use Knack to take advantage and would allow the CLI core to be simplified by pushing that logic into Kn

[2019-10-16 10:54] jiasli commented on #166
`2>&1` will pollute `stdout` where CLI writes result to. You may consider using `2>nul` or disabling `Fail on Standard Error` in the pipeline. `sys.stderr` is the default and valid place for Python's logging mechanism: https://docs.python.org/3.7/howto/logging.html

[2019-10-17 05:44] atbagga commented on #162
@Swells Isn't this already fixed in #159 using same approach as you suggested?

[2019-11-04 07:51] #166 closed

[2019-11-29 04:56] atbagga opened #169 "[Bug] Some commands change default console colors"
**Describe the bug**
Some azure-devops CLI extension commands change the default console colors, specifically those that issue the statement: "This command group is in preview...". The problem is that subsequent console output (i.e. regular informational text, for example produced by Write-Output) is completely unreadable (black on black).

**To Reproduce**
Azure Cli Version: 2.0.76
Use az --versi

[2019-12-02 02:41] jiasli opened #170 "Allow disabling color"
Related to #169. Reported in https://github.com/Azure/azure-cli/issues/6080. Also caused side effect of https://github.com/Azure/azure-cli/issues/9903.

If `stdout` is redirected and CLI displays a colored error message, the color in the console can't revert back to the default which is caused by https://github.com/tartley/colorama/issues/200.

Without proper a fix from Colorama, Knack should have

[2020-02-17 10:26] #164 closed

[2020-02-25 06:53] yungezz opened #175 "support experimental tag"
Request to add experimental tag, this is for Azure CLI usage. Azure CLI need this tag for new extension which is not stable yet, but under experimental. Experimental means CLI commands are in early experimental change, and targeting to change. It's used to get customer early feedback.

[2020-02-25 06:56] yonzhan commented on #175
Planned in S167.

[2020-03-18 15:45] mjalas commented on #128
Hi all,

This issue seems to have existed for some time now already and I'm wondering about what the current timeline is for multiple command loaders to be supported in Knack?

The approach I've used so far is to inject the command loader through a default function that every plugin implements, which is called when each plugin is loaded in the main function of the CLI. This approach has worked wel

[2020-03-24 13:38] jiasli commented on #166
We have added option `--only-show-errors` in https://github.com/microsoft/knack/pull/181 and also https://github.com/Azure/azure-cli/pull/12604 to disable warnings that are written to `stderr`. Knack [0.7.0rc1](https://pypi.org/project/knack/0.7.0rc1/) has already been released with this feature. Azure CLI will include it in [S167](https://github.com/Azure/azure-cli/milestone/84) release.

[2020-03-24 13:39] jiasli commented on #175
Completed in https://github.com/microsoft/knack/pull/181.

[2020-03-24 13:39] #175 closed

[2020-03-24 13:40] jiasli commented on #170
Completed in https://github.com/microsoft/knack/pull/181.

[2020-03-24 13:40] #170 closed

[2020-03-24 13:41] jiasli commented on #169
Completed in https://github.com/microsoft/knack/pull/181. Color can now be disabled.

[2020-03-24 13:41] #169 closed

[2020-03-31 02:38] jiasli opened #187 "csv output option"
Originally reported at https://github.com/Azure/azure-cli/issues/12624 by @johanburati

----

Would be good to have a *csv* output option, so that we could easily extract fields using good old linux cli commands and without redoing any formatting of any kind.

Like in the example below the first field has space in it.

[code]

Would be good to have this:
[code]
So we can do things like this:
[code

[2020-04-02 15:32] glaubitz opened #188 "Testsuite failing starting with 7.0.0rc1"
Starting with version ```7.0.0rc1```, the testsuite is failing for me on openSUSE Tumbleweed:

[code]

This is rather unfortunate as version ```7.0.0rc1``` is a dependency of the latest version of ```azure-cli``` ```2.3.1```.

CC @jiasli

[2020-04-03 01:58] yonzhan commented on #188
add to S168

[2020-04-03 02:08] jiasli commented on #188
May I know the Python version you are using? Is it Python 2? We have officially dropped Python 2 and 3.5 support (https://github.com/microsoft/knack/pull/174).

According to https://pyyaml.org/wiki/PyYAMLDocumentation#cb7:

That's why the result from the test is `'active: true\ncontents: 0b1f6472\n'`, but Knack is expecting `'active: true\ncontents: !!binary |\n  MGIxZjY0NzI=\n'`.

[Our CI also pa

[2020-04-03 10:34] haroldrandom opened #193 "pyyaml security warning"
![image](https://user-images.githubusercontent.com/14357159/78351588-a4b68700-75d9-11ea-8b73-255cf4ba3edf.png)

[This build](https://dev.azure.com/azure-sdk/public/_build/results?buildId=343581&view=logs&j=74095127-2a27-5370-37ed-15a4193f243f&t=a1e0e2fa-9206-5f67-cee4-df0dbeea0a5f&l=1227)

[2020-04-03 11:00] yonzhan commented on #193
pyyaml security warning

[2020-04-03 11:04] jiasli commented on #193
Similar to https://github.com/Azure/azure-cli/issues/12428, which is fixed by https://github.com/Azure/azure-cli/pull/12440. I think we need to bump to higher versions.

[2020-04-07 05:24] #193 closed

[2020-04-14 15:14] bmc-msft opened #195 "interest in passing functions, not strings for commands?"
Having found myself frustrated with argparse, I started looking into Knack for argument parsing.

One of the choices that I'm wondering about in Knack is the choice to specify the command groups with strings, which when used are passed to `import_module` & a python version independent `inspect` to get the implementation of the command.

This makes it difficult to use static analysis to verify code

[2020-04-14 15:17] yonzhan commented on #195
@jiasli please take a look

[2020-04-18 08:42] yonzhan commented on #188
@glaubitz was your issue resolved by above?

[2020-04-21 06:22] glaubitz commented on #188
Yes, the test fails on Python 2.7. We have switched the package to Python3-only.

FWIW, we are still supporting Python 2.7 in SLE-12 and Microsoft asks us to keep the Azure SDK plus Azure CLI up-to-date in SLE-12 as well for the SLE-12 Azure cloud images.

So Azure SDK and CLI being bleeding edge on their dependencies actually makes it harder to keep maintaining the Azure SDK and CLI for SLE-12. A

[2020-04-21 06:57] jiasli commented on #188
I am glad the issue is solved. However, as Python 2 has been [deprecate](https://www.python.org/doc/sunset-python-2/) and no further security update is provided, we decided to remove Python 2 as a dependency. This is really something out of our control. Thanks for understanding.

[2020-04-21 06:57] #188 closed

[2020-05-25 14:50] fralik opened #210 "Best practice to read configuration values from whithin commands?"
What is the recommended/available way of reading configuration values from a command? Shall I have a global CLI variable?

[2020-05-27 10:09] fralik commented on #210
Looks like my issue is covered by #16 . Although no comments on whether this is a recommended way or not, it is definitely a working solution. For the reference, here is a code snippet:

[code]

[2020-05-27 10:09] #210 closed

[2020-06-03 18:45] fralik opened #211 "What is client_factory?"
CommandGroup supports `client_factory` argument. What is it and how it is intended to be used?

[2020-07-01 22:46] niander opened #215 "utils.todict process DefaultInt to a dictionary instead of a int"
Not sure if this is a bug, or expected behavior.
When executing the example [exapp](https://github.com/microsoft/knack/blob/master/examples/exapp)

[code]

Here the argument `myarg` is returned and during the processing of the command return. Then, `util.todict` is used to process it and since the real type of `myarg` is `DefaultInt` the int default value of `100` is not printed in the screen but

[2020-09-21 22:30] niander opened #219 "CLICommandsLoader.create_command overrides the argument "arguments_loader""
Issue here: https://github.com/microsoft/knack/blob/dc7b7d857ce3c11b2a3155b81f2470b3b579e7c9/knack/commands.py#L265

The whole command registration process suggests that it is possible to give a custom arguments loader when calling the `command` method in a `CommandGroup` context. However, this parameter is overwritten with something else in the `CLICommandsLoader.create_command` method making imp

[2020-09-22 04:04] jiasli commented on #219
Azure CLI core does support custom `argument_loader` and `description_loader`:

https://github.com/Azure/azure-cli/blob/68ae330b5ac0b5e3975f698ef5bd76838f9cf883/src/azure-cli-core/azure/cli/core/__init__.py#L786-L798

[code]

However, may I know the motivation to make `CLICommandsLoader.create_command` accept custom `arguments_loader` and `description_loader`. Could you give more description about

[2020-09-29 19:21] niander commented on #219
Hello, I am just reporting what seems to be a bug or design flaw. If Azure CLI core support custom `argument_loader` and `description_loader` why `knack` does not? As I said, the fact it accepts a custom `argument_loader` suggests it should use it instead of the default one. Is there a particular reason for this not being the case? Actually, it seems Azure CLI is fixing it while `knack` should be

[2021-01-25 15:03] bluca opened #230 "Release candidate tags are sorted as higher than actual releases (0.8.0rc2 >> 0.8.0)"
Please use a ```~``` when appending ```rcX``` to a tag. All software that does version comparison will consider 0.8.0 as being lower/older than 0.8.0rc2.

[code]

[2021-01-25 16:06] jiasli commented on #230
`X.YrcN` is the correct format according to [PEP 440 Pre-releases](https://www.python.org/dev/peps/pep-0440/#pre-releases).

`0.8.0` is newer than `0.8.0rc2` in the Python world.

[code]

[2021-01-25 16:09] bluca commented on #230
Maybe, but not in the rest of the world. dpkg, and probably rpm too, do not follow that custom rule.

[2021-01-25 16:23] jiasli commented on #230
If we don't follow PEP 440, installation tools like `pip` will fail to install the correct version.

This issue has been discussed before: https://github.com/paylogic/py2deb/issues/8.

Also, according to [Debian New Maintainers' Guide / 2. First steps / 2.6. Package name and version](https://www.debian.org/doc/manuals/maint-guide/first.en.html#namever),

Also see: [Versioning your Python project f

[2021-01-25 16:30] bluca commented on #230
I know perfectly well that there are workarounds, and in fact I am already using them - but they are workarounds, not solutions, that create additional work downstream. Please consider using a scheme that works everywhere, regardless of what PEP440 says, given it's clearly incompatible with what the rest of the world does.

[2021-01-25 16:43] jiasli commented on #230
PEP 440 is the official spec of Python versioning. If we don't follow it but switch to Debian versioning, Python's libs will fail to recognize the version:

[code]

You may open a discussion on https://discuss.python.org for PEP 440.

[2021-01-25 17:10] bluca commented on #230
There are alternatives that work everywhere. For example, instead of ```0.8.0rc1``` you could use something like ```0.7.999rc1```. Then sorting works as expected with all tools.

[2021-01-26 02:21] jiasli commented on #230
I understand your concern @bluca. However, as a Python tool, it would be better for us to follow the naming convention of Python community, like other Python tools do.

pip: https://pypi.org/project/pip/#history

![image](https://user-images.githubusercontent.com/4003950/105789869-268afd00-5fbe-11eb-98c2-4d534d349047.png)

numpy: https://pypi.org/project/numpy/#history

![image](https://user-image

[2021-02-04 11:26] #230 closed

[2021-02-25 10:15] SaarasM opened #234 "TSV output doesn't include headers"
Currently tsv output is the only output type that doesn't include headers, despite tsv files [commonly having headers](https://en.wikipedia.org/wiki/Tab-separated_values).  Is there a reason to remove headers for this output type?

[code]

[2021-03-02 20:19] fralik opened #236 "Misleading error message for invalid choice arguments"
When an argument has a list of available choices and user provides an invalid entry, I suppose to see an error message related to that. Something that is aligned with `argparser` documentation:
[code]
However, Knack gives an error message like this `mycli abc str: 'fire' is not in the 'mycli abc str' command group. See 'mycli abc str --help'.`

<details>
  <summary>A minimum example (mycli.py), cl

[2021-03-23 07:24] qwordy opened #243 "Knack error when I run azdev linter"
A weird error when I run `azdev linter`
[code]
Version
knack, 0.8.0rc2
azdev, 0.1.29

[2021-04-09 04:26] #236 closed

[2021-04-27 19:10] dylanwa opened #246 "How to disable default Global Arguments (especially -o)?"
I have a command accepting argument --output-path, and I set its options_list also accept "-o", but it does not work, conflict with the default global argument. It means we can't use --output and -o for our commands.

**Question**:
1. How to disable Global Arguments, at least for "--output", "-o", or even "--query"?

**More details:**
with ArgumentsContext(self, "config fetch") as arg_context:

[2021-04-27 19:18] dylanwa commented on #246
I have a command to accept --output-path, and I set its option list also accept "-o"
with ArgumentsContext(self, "config fetch") as arg_context:
        arg_context.argument("output", type=str, options_list=("-o", "--coutput-path"))

But when I try it, it always recognize global argument first.
$ mycli config fetch -o test.json
**mycli config fetch: 'test.json' is not a valid value for '--output/-

[2021-08-19 18:57] niander commented on #219
Hello. Just following up on this. I am happy to fix that in knack but please let me know if this is a bug or just wrong documentation. The `command` method in `CommandGroup` clearly states that `arguments_loader` and `description_loader` are valid arguments but these are ignored later on as I showed above.

While I am aware Azure CLI core does not have this problem, `knack` is still a valid projec

[2021-08-19 18:57] niander commented on #215
ping

[2021-12-31 01:14] jacobhuemmer commented on #128
What is the status for this issue?

[2022-02-01 05:12] chekuchose opened #255 "When json value has null, knack in Azure CLI changes column order unintentionally."
# Problem
When json value has "null", knack in Azure CLI unintentionally changes column order regardless of specifying order of the columns by JMESPath.

# Reproduce steps
1. Prepare some json data including null value in member like this
[code]

2. Run JMESPath query using --query option:
[code]
As the above --query result shows different order of columns regardless the query specifies "Name, Loc

[2022-02-07 03:40] jiasli commented on #255
This is a sharp observation. Those lines try to remove columns that contains `None` value, but the side effect is that it may unintentionally change column order.

https://github.com/microsoft/knack/blob/d407b81d451d36c6ca1baeb3cd067a3f1275cb85/knack/output.py#L187-L188

For `kvm-ubuntu1804Gen2-NoneDisk`, only `Name`, `Location`, `ResouceGroup` are preserved in `new_entry`, causing `Disk` to be mo

[2022-03-01 22:25] niander opened #256 "Colorama is not being installed in Windows even though it is required"
Since version 0.8.3 (which has been removed from public feeds) `colorama` is only added to the list of requirements if the setup.py is executed in a Windows machine. However, knack is being distributed as a wheel package and setup.py is not executed when installing a wheel package. Therefore, knack is broken when executed from a terminal.

conditional dependency needs to follow [PEP 508](https://w

[2022-05-17 14:06] Quinncuatro opened #258 "I think Knack is pulling a version of PyYAML that has a known vulnerability."
I'm using the Azure-CLI package in a Python project I'm building at work and when I put that project through a pipeline that includes a package scanner, it's coming up with a [critical vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2020-1747) linking back to to `PyYAML/5.3.1`, which is being pulled into my project through `Knack/0.9.0`.

Dependency Tree:
[code]

I know the CVE states `version

[2022-05-17 14:13] Quinncuatro commented on #193
@jiasli - It's been two years, and somehow the line for PyYAML in `requirements.txt` no longer has a specified point release associated with it.

I'm getting a similar warning as @haroldrandom, since the Azure-CLI package is pulling in `knack/0.9.0` which is pulling in `PyYAML/5.3.1`.

I brought it up in Issue #258.

[2022-05-17 14:25] jiasli commented on #258
@Quinncuatro, as you can see from the source code, Knack has no hard version dependency on PyYAML when installing from PyPI:

https://github.com/microsoft/knack/blob/b4d9e66b469ef7c18a1f228f803505b7f550bdc1/setup.py#L17

[code]

I would recommend checking which library is installing old version of PyYAML:

[code]

[2022-05-17 14:29] jiasli commented on #258
Another possibility is you are using deprecated Python 3.5 which is only supported by [PyYAML 5.3.1](https://pypi.org/project/PyYAML/5.3.1/#files), but not by later versions like [PyYAML 5.4](https://pypi.org/project/PyYAML/5.4/#files).

[2022-05-17 15:01] Quinncuatro commented on #258
Sorry for the delay @jiasli - had a meeting with my manager and then ran some tests in my pipeline in Azure DevOps.

`python -V` is outputting `Python 3.8.10`

`pip -V` is outputting `pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)`

I was using regular `pip` (rather than `pip3`) to install the dependencies in my `requirements.txt` file, so I'm assuming (I don't usually develop in

[2022-05-17 15:08] jiasli commented on #258
`pip` shouldn't be the problem. Our pipeline is also on Azure DevOps and we have PyYAML 6.0 installed:

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1573408&view=logs&j=4d9a7583-3a39-5165-718c-04fb813e465f&t=cca1bb5f-5cc9-5913-03be-154ad3980df4&l=275

Do you mind sharing the content of your `requirements.txt` and the log of `pip install`?

[2022-05-17 15:17] Quinncuatro commented on #258
Sure thing. And for the record, using `pip3` returned the same dependency tree as my last post here.

`Requirements.txt`:
[code]

`Pip Install Requirements`:
[code]

[2022-05-17 15:58] jiasli commented on #258
Notice this line:

[code]

`dist-packages` is the python's `site-packages` location on Ubuntu.

I can reproduce with this ADO job:

[code]

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1573631&view=logs&j=6bf9371e-a0cd-548d-b37d-7daf15bfa6cd&t=40289a26-ef40-5bfe-9828-aedaccda14b6&l=73

[code]

**This means PyYAML 5.3.1 is actually installed by ADO agent. The root cause is because

[2022-05-17 16:16] jiasli commented on #258
I can also reproduce this issue on Ubuntu docker image:

[code]

[2022-05-17 16:27] jiasli commented on #258
In summary, **PyYAML 5.3.1 doesn't come from Knack's dependency, but comes from Ubuntu's `apt` package `python3-yaml`**.

According to the changelog of `python3-yaml`, `CVE-2020-1747` is already fixed in `5.3-2`:

http://changelogs.ubuntu.com/changelogs/pool/main/p/pyyaml/pyyaml_5.3.1-1ubuntu0.1/changelog

**Ubuntu developers can add security patches to their `apt` packages, making those packages

[2022-05-17 16:51] Quinncuatro commented on #258
Huh, the `UsePythonVersion@0` task seems to have me pulling `PyYAML/6.0` now.

Though I'm not entirely sure _how_ it's working. Is that package doing something like `Since the user has Python 3.8.12, pull the 6.0 version of this package` under the hood?

I'll look into setting up a Virtual Environment for this to further protect myself from any weird bugs and talk to our security team about BlackD

[2022-05-17 16:59] jiasli commented on #258
Not really. `UsePythonVersion` will override Ubuntu's `/usr/bin/python` with `/opt/hostedtoolcache/Python/3.8.12/x64/bin/python` (as you can get with `which python`), thus giving you a fresh environment, not honoring `/usr/lib/python3/dist-packages` which is Ubuntu-specific.

I am really glad I can be of help, even though this is not Knack or Azure CLI's problem. 😊

[2022-05-17 17:18] #258 closed, assigned to jiasli

[2022-05-17 18:09] Quinncuatro commented on #193
I take that back. Everything was resolved in #258. Ended up being an issue with the pipeline.

[2022-06-21 07:06] nils-a commented on #77
@tjprescott Today marks the start of summer on my half of the globe 😇. Any updates on this?

[2022-08-04 16:42] warren-jones opened #261 "Config file value ignored by command validation code"
I want to use the Azure CLI’s built-in missing-required-parameter validation feature for parameters that are specific to our CLI extension, but I’m only getting it to work on their core parameters like "group" and "location".  Is there a way to tell the Knack infrastructure to be aware of the setting of a parameter default, so the [Required] annotation goes away on help, and the parameter can be o

[2022-08-05 05:30] warren-jones commented on #261
I got my answer! Jiashuo Li replied:

“Can you try leveraging the configured_default argument and see if that works? Similar to --location --group: https://github.com/Azure/azure-cli/blob/bcb291ad55218dd8d7d582245d4fe97beb916309/src/azure-cli-core/azure/cli/core/commands/parameters.py#L242”

[2022-08-05 05:30] #261 closed, assigned to nobody

[2022-08-15 07:08] microsoft-github-policy-service[bot] opened #264 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-15 07:10] #264 closed, assigned to nobody